<section>
  <h1>Anoob Bava</h1>
  <p>Full time Ruby on Rails developer, Opensource contributor in intervals. love to code and try out new things</p>
  <img src="/images/about/profile.jpg" alt="Smiley face" height="200" width="300">

  <a href ="https://anoobbava.github.io/downloads/code/anoob_bava.pdf">Resume</a>
</section>
<section>
  <h2>social Links</h2>
  <p>
    <a href="https://www.github.com/anoobbava"><img border="0" alt="github" src="/images/github_logo.png" width="50" height="50"></a>
    <a href="https://twitter.com/anoobkbava"><img border="0" alt="twitter" src="/images/twitter_logo.png" width="50" height="50"></a>
    <a href="https://stackoverflow.com/users/5023291/anoob-k-bava"><img border="0" alt="so" src="/images/stackoverflow_logo.png" width="50" height="50"></a>
    <a href="https://rubygems.org/gems/penmig"><img border="0" alt="so" src="/images/rubygems_logo.png" width="45" height="50"></a>
  </p>
</section>

